Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -modernize-use-using,
  -modernize-use-trailing-return-type
